* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', normal;
    max-width: 1440px;
    background-color: #10367C;
    
}
.container {
    display: flex;
    width: 1440px;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
}
.offer {
    display: flex;
    margin-top: 120px;
    width: 1440px;
    justify-content: space-around;
    list-style-type: none;
}
.container-about {
    display: flex;
    flex-direction: column;
    width: 193px;
    height: 211px;
    list-style-type: none;
}
.container-property {
    display: flex;
    flex-direction: column;
    width: 133px;
    height: 310px;
    list-style-type: none;
}
.container-support {
    display: flex;
    flex-direction: column;
    width: 233px;
    height: 122px;
    list-style-type: none;
}
.container-header {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.container-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
p {
    margin: 163px 1081px 120px 145px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    
}