/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/roboto-v27-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/roboto-v27-latin-regular.svg') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v27-latin-500.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v27-latin-500.svg') format('svg'); /* Legacy iOS */
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.offer__wrapper {
    padding: 120px 104px;
}

.offer__wrapper h1 {
    text-align: center;
    font-size: 40px;
}

.line {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    margin: 20px auto 0;
}

.offers {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 80px;
    
}

.offer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.offer p {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}